<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="formDados">
    <div class="form">
        <h2 class="title">Cadastrar Produto:</h2>
        <label for="name">Nome Produto</label>
        <div class = "input">
            <input id="name" name="name" placeholder="Nome Produto" type="text">
        </div>
        <label for="bar_Code">Codigo de Barras</label>
        <div class = "input">
            <input id="bar_Code" name="bar_Code" placeholder="Codigo de Barras" type="text">
        </div>
        <label for="description">Descrição do Produto</label>
        <div class = "input">
            <input id="description" name="description" placeholder="Descrição do Produto" type="text">
        </div>
        <label for="login">Login</label>
        <div class = "input">
            <input id="login" name="login" placeholder="Login" type="text">
        </div>
        <label for="img">Imagem do Produto</label>
        <div class = "input">
            <input id="img" name="img" placeholder="Imagem do Produto(url)" type="text">
        </div>
        <br><br>
        <div class ="btn">
            <a style="--clr:#ff7253" id="cont-cliente"><span>Continuar</span><i></i></a>
            <br><br><br>
            <a [routerLink]="['/login']" style="--clr:#ff7253" id="cancel-cliente"><span>Cancelar</span><i></i></a>
        </div>
    </div>
</div>