<div class="TheBar">
    <img [routerLink]="['/']" src="assets/logosss.png" width="100vh">
    <nav>
        <ul class="dropdown-menu">
            <li>
                <a *ngIf="logado==false" style="font-size: 22px;">SERVIÇOS</a>
                <a *ngIf="logado==true" style="font-size: 22px;">LOGADO</a>
                <ul class="dropdown-submenu">
                    <li><a (click)="verPerfil()">PERFIL</a></li>
                    <li *ngIf="loginTipo != 'owner'"><a (click)="verCompras()">COMPRAS</a></li>
                    <li *ngIf="loginTipo != 'owner'"><a (click)="verWishList()">LISTA DE DESEJOS</a></li>
                    <li *ngIf="loginTipo =='owner'"><a [routerLink]="['/sales']">VENDAS</a></li>
                    <li *ngIf="loginTipo =='owner'"><a [routerLink]="['/stocks']">ESTOQUE</a></li>
                    <li *ngIf="logado==false"><a [routerLink]="['/login']">ENTRAR</a></li>
                    <li *ngIf="logado==true"><a (click)="deslogar()">SAIR</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>