a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
  }
  
a:hover {
    color: #193b57;
}

.TheBar
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
img:hover
{
  cursor: pointer;
}