<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="form">
    <form action="">
        <img src="assets/logosss.png" width="70%">
        <br>
        <div class="radios">
            <input (click)="tipoClient()" type="radio" name="userType" value="client"CHECKED>Cliente
            <input (click)="tipoOwner()" class="rad2" type="radio" name="userType" value="owner">Lojista
        </div>
        <h2 class="title"></h2>
        <label for="user">User</label>
        <div class = "input">
            <input id="user" name="user" placeholder="User" type="text">
        </div>
        <label for="password">Password</label>
        <div class = "input">
            <input id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class ="btn">
            <a class="logar" (click)="checar()" style="--clr:#ff7253"><span>Login</span><i></i></a>
        </div>
        <br>
        <div class="cadastro">
            <a [routerLink]="['/client-register']" >
                Cadastro
            </a>
        </div>
    </form>
</div>