.form{
    position :relative;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    padding: 50px;
    width: min-content;
    align-items: center;
    color:#2b344b;
	animation:iniciar 1.6s ease-out;
	pointer-events: all;
	margin-top: 400px;
	box-shadow: 0 0 5px 1px ;
}
.title{
    font-size: 1,8em;
    margin-bottom: 10%;
}
img
{
	margin-left: 45px;
}
.input{
    min-width: 280px;
    border-radius: 22px;
    border:2px #6f7e8a solid;
    padding:5px;
    margin: 0px 0px 12px - 5px;
	transition: 0.5s;
}
.input:hover
{
	border: 2px darkorange solid;
}
.input input{
    width:80% ;
    border: none;
    outline: none;
    color: #2b344b;
    font-size: 11pt;
}
.btn{
    
    margin-top: 10%;
    width: 100%;
    text-align: center ;
	cursor: pointer;
}

.logar{
	position: relative;
	background: #2b344b;
	color: #2b344b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2734em;
	letter-spacing: 0.1em;
	font-weight: 400px;
	padding: 10px 30px;
	transition: 0.5s;
    border-radius: 10px;
}
.logar:hover{
	background: var(--clr);
	color: var(--clr);
	letter-spacing: 0.25em;
	box-shadow: 0 0 35px var(--clr);
}
.logar:before{
	content: '';
	position: absolute;
	inset: 2px;
	background: #fff;
    border-radius: 10px;
}
.logar span{
	position: relative;
	z-index: 1;
}
.logar i{
	position: absolute;
	inset: 0;
	display: block;
}
.logar i::before{
	content: '';
	position: absolute;
	top: 0;
	left: 80%;
	width: 10px;
	height: 4px;
	background: #fff;
	transform: translateX(-50%) skewX(325deg);
	transition: 0.5s;
}
.logar:hover i::before{
	width: 20px;
	left: 20%;
}
.logar i::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 10px;
	height: 4px;
	background: #fff;
	transform: translateX(-50%) skewX(325deg);
	transition: 0.5s;
}
.logar:hover i::after{
	width: 20px;
	left: 80%;
}
.cadastro
{
	color: #193b57;
	text-decoration: underline;
	text-align: center;
	cursor: pointer;
	transition: 0.5s;
}
.cadastro:hover
{
	letter-spacing: 0.1em;
}
@keyframes iniciar{
	0%{
		opacity: 0;
		pointer-events: none;
	}
	100%{
		opacity: 100%;
		pointer-events: all;
	}
}