<div class="form">
    <form action="">
        <h2 class="title">Address Register</h2>
        <label for="street">Street</label>
        <div class = "input">
            <input id="street" name="street" placeholder="Street" type="text">
        </div>
        <label for="city">City</label>
        <div class = "input">
            <input id="city" name="city" placeholder="City" type="text">
        </div>
        <label for="state">State</label>
        <div class = "input">
            <input id="state" name="state" placeholder="State" type="text">
        </div>
        <label for="country">Country</label>
        <div class = "input">
            <input id="country" name="country" placeholder="Country" type="text">
        </div>
        <label for="postal_code">Postal Code</label>
        <div class = "input">
            <input id="postal_code" name="postal_code" placeholder="Postal Code" type="text">
        </div>
        <div class ="btn">
            <a href="#" style="--clr:#ff7253"><span>Register</span><i></i></a>
        </div>

    </form>
</div>
<!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->