<div class="form">
    <form action="">
        <h2 class="title">Endereço:</h2>
        <label for="street">Rua</label>
        <div class = "input">
            <input id="street" name="street" placeholder="Rua" type="text">
        </div>
        <label for="city">Cidade</label>
        <div class = "input">
            <input id="city" name="city" placeholder="Cidade" type="text">
        </div>
        <label for="state">Estado</label>
        <div class = "input">
            <input id="state" name="state" placeholder="Estado" type="text">
        </div>
        <label for="country">País</label>
        <div class = "input">
            <input id="country" name="country" placeholder="País" type="text">
        </div>
        <label for="postal_code">Código Postal</label>
        <div class = "input">
            <input id="postal_code" name="postal_code" placeholder="Código Postal" type="text">
        </div>

    </form>
</div>