<div class="form">
    <form action="">
        <h2 class="title">Client Register</h2>
        <label for="name">Name</label>
        <div class = "input">
            <input id="name" name="name" placeholder="Name" type="text">
        </div>
        <label for="phone">Phone</label>
        <div class = "input">
            <input id="phone" name="phone" placeholder="Phone" type="text">
        </div>
        <label for="e-mail">E-mail</label>
        <div class = "input">
            <input id="e-mail" name="e-mail" placeholder="E-mail" type="text">
        </div>
        <label for="login">User Login</label>
        <div class = "input">
            <input id="login" name="login" placeholder="User Login" type="text">
        </div>
        <label for="date-of_birth">Date of Birth</label>
        <div class = "input">
            <input id="date-of_birth" name="date-of_birth" placeholder="Date of Birth" type="text">
        </div>
        <label for="password">Password</label>
        <div class = "input">
            <input id="password" name="password" placeholder="Password" type="password">
        </div>
        <label for="document">Document</label>
        <div class = "input">
            <input id="document" name="document" placeholder="Document" type="text">
        </div>
        <div class ="btn">
            <a href="#" style="--clr:#ff7253"><span>Register</span><i></i></a>
        </div>

    </form>
</div>
<!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->