<div class="form">
    <form action="">
        <h2 class="title">Store Register</h2>
        <label for="cnpj">CNPJ</label>
        <div class = "input">
            <input id="cnpj" name="cnpj" placeholder="CNPJ" type="text">
        </div>
        <label for="name">Name</label>
        <div class = "input">
            <input id="name" name="name" placeholder="Name" type="text">
        </div>
        <div class ="btn">
            <a href="#" style="--clr:#ff7253"><span>Save Changes</span><i></i></a>
        </div>
        <div class ="btn">
            <a href="#" style="--clr:#ff7253"><span>Cancel</span><i></i></a>
        </div>

    </form>
</div>