<app-top-bar></app-top-bar>
<div class="form">
    <form action="">
        <h2 class="title">Cadastrar Loja:</h2>
        <label for="name">Name</label>
        <div class = "input">
            <input id="name" name="name" placeholder="Name" type="text">
        </div>
        <label for="cnpj">CNPJ</label>
        <div class = "input">
            <input id="cnpj" name="cnpj" placeholder="CNPJ" type="text">
        </div>
        <div class ="btn">
            <a (click)="cadastrar()" style="--clr:#ff7253"><span>Cadastrar</span><i></i></a>
        </div>

    </form>
</div>