<app-top-bar [titulo]="titlePage"></app-top-bar>
<!--{ LUIS-HTML
    <div class="purchasesList">
    <div class="purchaseComponent" style="--clr:darkorange" *ngFor="let purchase of purchases">
        <a [title]="purchase.productName + ' details'">
            <div class="box">

                <div class="purchase-list_image-container">
                    <img class="imgProduct" src="{{purchase.productImg}}" alt="imgProduto">
            </div>
                <div class="boxText">
                    
                    <h3>
                        Produto: {{purchase.productName}}
                    </h3>
                    <h2>
                        Loja: {{purchase.storeName}}
                    </h2>
                    <h2>
                        Data: {{purchase.purchaseDate}}
                    </h2>
                    <h2>
                        R$ {{purchase.purchaseAmount}}
                    </h2>
                </div>
            </div>
            <i></i>
        </a>
    </div>
</div> -->
<div class="container">
    
    <div class="cart">

        <div class="products">

            <div class="product">

                <img src="" alt="">

                <div class="product-info">

                    <h3 class="product-name">{{purchase.productName}}</h3>

                    <h4 class="product-price">R$ {{purchase.purchaseAmount}}</h4>

                    <p>Data: {{purchase.purchaseDate}}</p>

                    <p class="product-owner"> Owner :{{purchase.storeName}}</p>

                </div>

            </div>   
              

        </div>

    

    </div>

</div>