<app-top-bar [titulo]="titlePage"></app-top-bar>
<br><br><br><br>
<div *ngIf="purchase">
  <div class = "card-wrapper">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "{{purchase.productImg}}" alt = "imgProduct">

          </div>

          
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">NF: {{purchase.purchaseNF}}</h2>
        <div class = "product-detail">
          <p>Product: {{purchase.productName}}</p>
          <p>Price: {{purchase.purchaseAmount}}</p>
          <p>Date Purchase: {{purchase.purchaseDate}}</p>
          <p>Payment Type: {{purchase.purchasePayment}}</p>
          <p>Confirmation Number: {{purchase.purchaseNC}}</p>

          <h2>About Client: </h2>
          <p>Name: {{purchase.clientName}}</p>
          <p>Document: {{purchase.clientDocument}}</p>
          <p>Phone: {{purchase.clientPhone}} </p>
          <ion-icon name="heart"></ion-icon>
        </div>
        <br>
        <br>
        <br>
        <br><br><br>
      </div>
    </div>
  </div>
</div>
