<app-top-bar [titulo]="titlePage"></app-top-bar>
<br><br><br><br>
<div *ngIf="purchase">
  <div class = "card-wrapper">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "{{purchase.productImg}}" alt = "imgProduct">

          </div>

          
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">NF: {{purchase.purchaseNF}}</h2>
        <div class = "product-detail">
          <p>Produto: {{purchase.productName}}</p>
          <p>Preço: {{purchase.purchaseAmount}}</p>
          <p>Data de Compra: {{purchase.purchaseDate}}</p>
          <p>Tipo de pagamento: {{purchase.purchasePayment}}</p>
          <p>Número de confirmação: {{purchase.purchaseNC}}</p>
          <br>
          <h2>Sobre Cliente: </h2>
          <p>Nome: {{purchase.clientName}}</p>
          <p>CPF: {{purchase.clientDocument}}</p>
          <p>Telefone: {{purchase.clientPhone}} </p>
          <div class="purchase-info">
            <button type = "button" class = "btn" [routerLink]="['/purchases']">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
