<app-top-bar [titulo]="titlePage"></app-top-bar>
<br><br><br><br>
<div *ngIf="product">
  <div class = "card-wrapper">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "{{product.image}}" alt = "imgProduct">

          </div>

          
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">{{product.nome}} </h2>
        <div class = "product-price">
          <p class = "new-price"><span>Price: R$ {{product.price}}</span></p>
        </div>
        <div class = "product-detail">
          <h2>Loja: </h2>
          <p>{{product.store}}</p>
          <h2>Sobre esse item: </h2>
          <p>{{product.description}}</p>
        </div>
        <br>
        <br>
        <br>
        <br><br><br>
        <div class = "purchase-info">
          <button type = "button" class = "btn">Comprar</button>
          <button type = "button" class = "btn">Add to WishList</button>
        </div>
      </div>
    </div>
  </div>
</div>
