<app-top-bar [titulo]="titlePage"></app-top-bar>
<div class="container">
    <div class="cart">
        <div class="products">
            <div class="product" *ngFor="let purchase of purchases">
                <img class="imgProduct" src="{{purchase.productImg}}" alt="imgProduto">
                <div class="product-info">
                    <br>
                    <h3 class="product-name">{{purchase.productName}}</h3>
                    <h4 class="product-price">R$ {{purchase.purchaseAmount}}</h4>
                    <p>Data: {{purchase.purchaseDate}}</p>
                    <p class="product-owner"> Cliente :{{purchase.clientName}}</p>
                    <br>
                    <!-- <button [routerLink]="['/purchase', purchase.productId, purchase.storeId, sales]" type = "button" class = "btn">Ver Detalhes</button> -->
                </div>
            </div>
        </div>
    </div>
</div>