<div class="productsList">
    
    <div class="productComponent"  style="--clr:#84150E" *ngFor="let product of products">
        <div class="topBox">
            <img src="{{product.image}}" alt="imgProduto" width="240px" height="200px">
            <h3>
                <a [title]="product.name + ' details'"
                    [routerLink]="['/product', product.id]">
                    {{product.name}}
                </a>
            </h3>
        <div class="bottomBox">
            <h2>
                <p>R${{product.price}}</p>
            </h2>
            <h2>
                <p>
                    {{product.description}}
                </p>
            </h2>
                <img src="assets/coracao.png" alt="imgCoracao" width="30px" height="30px">
            </div>
            <i></i>
        </div>
    </div>
</div>
<!-- #ff7253 -->
<!-- #84150E -->
<!-- #fb5754 -->